<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue 测试实例</title>
<script src="js/vue.min.js"></script>
</head>
<body>
<div id="app">
	展示<input type="checkbox" v-model="show" />
	<p v-show="show">展示出来了</p>	
	<!-- 迭代数组 -->
	<ol>
		<li v-for="num in arr">{{num}}</li>
	</ol>
	<ol>
		<li v-for="obj in arrObj">{{obj.id}} : {{obj.name}}</li>	
	</ol>
		
	<!-- 	<li v-for="num in [1,5]">{{num}}</li>		 -->
	<!-- 迭代对象 value/key -->
	<li v-for="(value, key) in obj">{{key}} : {{value}}</li>	
	
	<li v-for="(value, key, index) in obj">{{key}} : {{value}} {{index}}</li>	
	<!-- 迭代整数 ,默认从1开始-->
	<li v-for="num in 3">{{num}}</li>	
	<!-- 中括号 写可选的选项 -->
	<li v-for="num in [5,7, 10]">{{num}}</li>			
</div>

<script>
var field = {name:'李四', age: 12, address: '广东省广州市', tag: '<h2>标签</h2>', use: false, 
site:'https://www.baidu.com', type: 'A', show: false, arr: [12, 3,10], arrObj:[{id: 123, name: '王五1'}, {id: 124, name: '王五2'}],
obj:{name:'汽车', price:12.9}
};
var vm = new Vue({
	el: '#app',
	data: field,
	methods: {
		show: function() {
			return this.name + ", " + this.age + ", " + this.address;
		},
		openDialog: function() {
			alert(this.name + ", " + this.age + ", " + this.address);
		},
		reverseName: function() {
				this.name = this.name.split('').reverse().join('');
		}
	}
});

// 修改某个Vue对象的属性
//vm.age = 22;

/* 用内置对象 document write方法来输出 */
//document.writeln("document.write 输出: " + vm.name);

//document.write("<br>");
//document.write(vm.$el == document.getElementById('vm'));
//document.write("<br>");
//document.write(vm.$data == field);
</script>
</body>
</html>